.course-editor {
    margin: 10px 20px;
}

/* widget editor */
body {
	margin: 10px 20px;
}

.container {
	width: 100%;
}

.row {
	margin: 10px 15px;
	text-align: left;
}

/* new widget section */
.btn-plus {
	background-color: rgba(3, 12, 84, 0.8);
	padding: 10px 30px;
}

.new-widget {
	text-align: center;
}

/* editor section */
.editor {
	background-color: white;
	border-radius: 10px;
	width: 100%;
	margin: 20px;
	padding: 20px;
}

.widget-title {
	font-size: 150%;
	color: rgba(3, 12, 84, 0.8);
}

.btn-up, .btn-down {
	background-color: rgba(3, 12, 84, 0.8);
	float: right;
}

.widget-type-select {
	width: fit-content;
	float: right;
	border-color: rgba(3, 12, 84, 0.8);
	color: rgba(3, 12, 84, 0.8);
	border-radius: 10px;
}

.widget-type-select option {
	color: rgba(3, 12, 84, 0.8);
	background-color: white;
}

.btn-x {
	background-color: rgba(195, 15, 15, 1);
	float: right;
}

#widget-input {
	border-color: rgba(3, 12, 84, 0.8);
	border-radius: 10px;
}

.heading-size-select {
	border-color: rgba(3, 12, 84, 0.8);
	color: rgba(3, 12, 84, 0.8);
	border-radius: 10px;
}

.heading-size-select option {
	color: rgba(3, 12, 84, 0.8);
	background-color: white;
}

#widget-name-input {
	border-color: rgba(3, 12, 84, 0.8);
	border-radius: 10px;
}

/* save and preview styles */
.save-topic {
	background-color: green;
	color: white;
	padding: 0px 20px;
	margin: 0px 20px;
}

.preview-title {
	font-size: 150%;
	color: rgba(3, 12, 84, 0.8);
	margin: 0 10px;
}

/* toggle */
/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
	opacity: 0;
	width: 0;
	height: 0;
  }
  
  /* The slider */
  .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(3, 12, 84, 0.8);
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  .slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
  }
  
  input:checked + .slider {
	background-color: rgba(195, 15, 15, 1);
  }
  
  input:focus + .slider {
	box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
	border-radius: 34px;
  }
  
  .slider.round:before {
	border-radius: 50%;
  }
