a {
    color: rgba(3, 12, 84, 0.8);
}

a:hover, a:focus, a:active {
    text-decoration: none;
}

/* course card styles */
.card {
    margin: 10px 20px;
    padding: 10px;
    background: white;
    color: rgba(3, 12, 84, 0.8);
    border-color: rgba(3, 12, 84, 0.8);
    border-radius: 10px;
    font-size: 130%;
    border-width: thick;
}

.card-img-top {
    padding: 5px;
}

.card .edit-icon, .card .delete-icon, .card .save-icon {
    padding: 0 2px;
}

.card .btn-edit-course {
    color: rgba(3, 12, 84, 0.8);
    border-radius: 10px;
    border-color: rgba(3, 12, 84, 0.8);
    width: 100%;
    padding: 5px;
}

.btn-edit-course:hover, .btn-edit-course:focus, .btn-edit-course:active
 {
    background: transparent;
    color: rgba(3, 12, 84, 0.8);
}

.btn-delete-course {
    background: rgba(195, 15, 15, 1);
    color: white;
    border-radius: 10px;
    float: right;
}

.btn-delete-course:hover, .btn-delete-course:focus, .btn-delete-course:active
 {
    color: white;
    background: rgba(195, 15, 15, 1);
}

.card .course-info {
    font-size: small;
    padding: 0 0 5px 0;
}

.card .row {
    padding: 5px;
}