.course-manager a:hover, .course-manager a:focus, .course-manager a:active {
    text-decoration: none;
}

.course-title {
    color: rgba(3, 12, 84, 0.8);
}

/* navbar styles */

.course-manager .btn-hamburger {
    padding: 10px;
    z-index: 1;
}

.course-manager #new-course-input {
    margin: 0 5px;
}

.course-manager .nav-item {
    margin: 10px 10px;
}

/* .profile-link, .login-link, .admin-link {
    font-size: 120%;
}

.profile-link:hover, .profile-link:active, .profile-link:focus,
.btn-login:hover, .btn-login:active, .btn-login:focus,
.btn-admin:hover, .btn-admin:active, .btn-admin:focus {
    color: white;
}

.btn-profile, .btn-login, .btn-admin {
    color: white;
    border-radius: 10px;
    background-color: rgba(195, 15, 15, 1);
} */

.course-manager .navbar-nav {
    z-index: 1;
}

.course-manager .navbar .btn-plus {
    float: right;
    padding: 5px;
    background-color: rgba(195, 15, 15, 1);
}

.course-manager #new-course-input {
    border-radius: 10px;
    width: 80%;
    height: 40px;
}

.course-manager #new-course-input::placeholder {
    padding: 5px;
}

.course-manager input, .course-manager textarea {
    color: rgba(3, 12, 84, 0.8);
    padding: 5px;
}

.course-manager .navbar-brand:hover, .course-manager .navbar-brand:active, .course-manager .navbar-brand:focus, .course-manager .navbar-brand {
    color: white;
}

.course-manager .navbar {
    background-color: rgba(3, 12, 84, 0.8);
    color: white;
    border-radius: 10px;
    width: 100%;
}

.course-manager .course-manager-title, .course-manager .course-manager-title:hover, .course-manager .course-manager-title:active, .course-manager .course-manager-title:focus {
    background-color: rgba(195, 15, 15, 1);
    color: white;
    padding: 10px;
    border-radius: 10px;
}
